<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Paypal Sample App</title>
</head>

<body>
    <h1>Thierry Henry vintage jersey</h1>
    <h2>Buy for $1000</h2>
    <form action="/pay" method="post">
        <input type="submit" value="Buy" />

    </form>
</body>

</html>